    <!-- ******Beneficios****** --> 
    <section id="Beneficios" class="features section">
        <div class="container text-center">
            <h2 class="title">Beneficios</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa-solid fa-check"></i> Ahorro de Tiempo</li>
                <li><i class="fa-solid fa-check"></i> Precisión en Búsquedas</li>
                <li><i class="fa-solid fa-check"></i> Centralización de Datos</li>
                <li><i class="fa-solid fa-check"></i> Automatización de Tareas</li>
                <li><i class="fa-solid fa-check"></i> Acceso Móvil y Web</li>
                <li><i class="fa-solid fa-check"></i> Formación Continua</li>
                <li><i class="fa-solid fa-check"></i> Actualización Constante</li>
            </ul>
        </div><!--//container-->
    </section><!--//Beneficios-->