  <!-- ******Contacto****** --> 
  <section id="Contacto" class="contact section has-pattern">
    <div class="container">
      <div class="contact-inner">
        <h2 class="title  text-center">Contáctanos</h2>
        <div class="testigo-message">      
          <div class="profile">
            <p class="intro  text-center">Déjanos un mensaje y te responderemos de inmediato.</p>
          </div><!--//profile-->
          <div class="speech-bubble">
            {% include frmcontacto.html %}
          </div><!--//speech-bubble-->   
        </div><!--//testigo-message-->
      </div><!--//contact-inner-->
    </div><!--//container-->
  </section><!--//Contacto-->  
