  <!-- ******FAQ****** --> 
  <section id="faq" class="faq section">
    <div class="container">
      <div class="faq-inner">
        <h2 class="title text-center">Preguntas frecuentes</h2>
        <div class="info"><p>¿Tienes alguna pregunta que no se contesta aqui? ¡Mándanos un mensaje! te contestaremos de inmediato</p></div><!--//info-->

        <div class="cta-container">
          <div class="speech-bubble text-center"><p class="info">
          ¿Puedo usar Statetty fuera de Santa Cruz?</p></div><!--//speech-bubble-->
          <div class="btn-container text-center"><p>
          Actualmente, Statetty está disponible en el departamento de Santa Cruz, Bolivia. Sin embargo, estamos trabajando para expandir nuestra cobertura a otros departamentos y eventualmente a toda Bolivia. Mantente atento a las actualizaciones para conocer las nuevas áreas de cobertura.</p></div><!--//btn-container-->
        </div><!--//cta-container-->

        <div class="cta-container">
          <div class="speech-bubble text-center"><p class="info">¿Qué tipos de búsquedas puedo realizar con Statetty?</p></div><!--//speech-bubble-->
          <div class="btn-container text-center"><p>Puedes realizar búsquedas avanzadas de inmuebles con filtros por ubicación, precio, tipo de vivienda, y palabras clave. También puedes buscar dentro de mensajes de grupos de WhatsApp y agentes inmobiliarios.</p></div><!--//btn-container-->
        </div><!--//cta-container-->

        <div class="cta-container">
          <div class="speech-bubble text-center"><p class="info">¿Cómo puedo probar Statetty?</p></div><!--//speech-bubble-->
          <div class="btn-container text-center"><p><a href="https://t.me/statettybot" target="_blank">Al crear tu cuenta</a>, obtendrás un período de prueba de 5 días para explorar todas las funciones de Statetty sin costo alguno.</p></div><!--//btn-container-->
        </div><!--//cta-container-->

        <div class="cta-container">
          <div class="speech-bubble text-center"><p class="info">
          ¿Qué nuevas funciones se agregarán a Statetty?</p></div><!--//speech-bubble-->
          <div class="btn-container text-center"><p>
          Estamos en constante innovación. Pronto expandiremos nuestras fuentes de datos a plataformas como Facebook Marketplace y Ultracasas. Además, añadiremos detalles de precios de tierra e inmuebles por zona. ¡Innovamos permanentemente!</p></div><!--//btn-container-->
        </div><!--//cta-container-->

        <div class="cta-container">
          <div class="speech-bubble text-center"><p class="info">
          ¿Cómo puedo pagar por el servicio de Statetty?</p></div><!--//speech-bubble-->
          <div class="btn-container text-center"><p>
          Puedes pagar por el servicio directamente en el <a href="https://t.me/statettybot" target="_blank">Bot de Telegram</a> haciendo clic en el botón 'abonar' en el menú principal o escaneando un QR específico para realizar el pago correspondiente.</p></div><!--//btn-container-->
        </div><!--//cta-container-->

      </div><!--//faq-inner-->
    </div><!--//container-->
  </section><!--//FAQ-->