    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">© Copyright 2025 Statetty Todos los derechos reservados.</small><br/>
            <small class="copyright">Diseño Web: <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>

            <!-- Enlaces a documentos legales -->
            <div class="copyright">
                <a href="{{ '/terminos_y_condiciones.html' | relative_url }}" class="text-muted mx-2">Términos y Condiciones</a> |
                <a href="{{ '/politica_de_privacidad.html' | relative_url }}" class="text-muted mx-2">Política de Privacidad</a> |
                <a href="{{ '/descargo_de_responsabilidad.html' | relative_url }}" class="text-muted mx-2">Descargo de Responsabilidad</a>
            </div>

        </div><!--//container-->

        {% include social_links.html %}
    </footer><!--//footer-->

    <!-- Javascript -->          

    <!--script async="" defer="" src="https://buttons.github.io/buttons.js"></script-->
    
    <script src="{{'/assets/js/vendor/lazysizes.min.js' | prepend: site.url}}" async></script>
    <script src="{{'/assets/plugins/bootstrap/js/bootstrap.min.js' | prepend: site.url}}"></script>
    <script src="{{'/assets/plugins/prism/prism.js' | prepend: site.url}}"></script>    
    <script src="{{'/assets/plugins/gumshoe/gumshoe.polyfills.min.js' | prepend: site.url}}"></script> 
    <script src="{{'/assets/js/main.js' | prepend: site.url}}"></script>  

    <!--//metricool-->
    <script>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"b0c42d45d4280adcda2eca537010e82d"})});</script>