  <!-- ******HEADER****** --> 
  <header id="header" class="header">              
    <nav id="main-nav" class="main-nav navbar navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand logo scrollto" href="{{ site.url }}" title="{{ site.short }}">
          <img class="logo-image mr-2 lazyload" data-src="{{'/assets/images/favicon/favicon.ico' | prepend: site.url}}" alt="logo" width="32" height="32">
          <span class="logo-title">{{ site.title }}</span>
        </a>
      </div>
    </nav><!--//main-nav-->
  </header><!--//header-->