  <!-- ******HEADER****** --> 
  <header id="header" class="header">              
    <nav id="main-nav" class="main-nav navbar navbar-expand-md">
      <div class="container-fluid">
      <a class="navbar-brand logo scrollto" href="#inicio" title="{{ site.short }}">
        <img class="logo-image mr-2" src="{{'/assets/images/favicon/favicon-32x32.png' | prepend: site.url}}" alt="{{ site.title }}">
        <span class="logo-title">{{ site.title }}</span>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"  aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button><!--//nav-toggle-->
           
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul id="nav-menu" class="nav navbar-nav ms-md-auto">
          <li class="nav-item sr-only"><a class="nav-link scrollto" href="#inicio">       Inicio</a></li>
          <li class="nav-item"><a class="nav-link scrollto"         href="#about">        Acerca de</a></li>
          <li class="nav-item"><a class="nav-link scrollto"         href="#Beneficios">   Beneficios</a></li>
          <li class="nav-item"><a class="nav-link scrollto"         href="#talleres">     Talleres</a></li>
          <li class="nav-item"><a class="nav-link scrollto"         href="#testimonios">  Testimonios</a></li>
          <li class="nav-item"><a class="nav-link scrollto"         href="#faq">          FAQ</a></li>   
          <!--li class="nav-item"><a class="nav-link scrollto"         href="#Blog">         Blog</a></li>  
          <li class="nav-item"><a class="nav-link scrollto"         href="#Recursos">     Recursos</a></li-->
          <li class="nav-item last"><a class="nav-link scrollto"    href="#Contacto">     Contacto</a></li>
        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
      </div>
    </nav><!--//main-nav-->
  </header><!--//header-->