<head itemscope itemtype="http://schema.org/WebSite">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title itemprop='name'>{% if page.short %}{{ page.short }}{% else %}{{ site.title }}{% endif %}</title>
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include favicon.html %}
  {% include seo.html %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    /* Estilo básico para el mapa */
    body, html {margin: 0;padding: 0;height: 100%;}
    #mapid {height: 100%;width: 100%;}
  </style>
</head>
