  <!-- ******Inicio****** -->
  <section id="inicio" class="Inicio section offset-header">
    <div class="container text-center">
      <h2 class="title">State<span class="highlight">tty</span></h2>
      <p class="intro">Tu aliado tecnológico en el mercado inmobiliario</p>

      <div class="btns">
          <a class="btn btn-cta-secondary scrollto"  href="#Contacto"                target="_blank">¡Escríbenos!</a>
          <a class="btn btn-cta-primary"             href="https://t.me/statettybot" target="_blank">¡ Pruebala !</a>
      </div>

      <br /><br /><br />

    </div>
  </section><!--//Inicio-->
