
<div class="info text-center">
  <ul class="social-icons list-inline">

{% if site.social.github %}
	<li class="list-inline-item"><a href="https://github.com/{{site.social.github}}" aria-label="{{site.social.github}} en Github"><i class="fab fa-github" aria-hidden="true"></i></a></li>
{% endif %}
{% if site.social.twitter %}
	<li class="list-inline-item"><a href="https://twitter.com/{{site.social.twitter}}" aria-label="{{site.social.twitter}} en X"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
{% endif %}
{% if site.social.facebook %}
	<li class="list-inline-item"><a href="https://facebook.com/{{site.social.facebook}}" aria-label="{{site.social.facebook}} en Facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
{% endif %}
{% if site.social.linkedin %}
	<li class="list-inline-item"><a href="https://linkedin.com/in/{{site.author.linkedin}}" aria-label="{{site.social.linkedin}} en LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li> 
{% endif %}
{% if site.social.instagram %}
	<li class="list-inline-item"><a href="https://www.instagram.com/{{site.social.instagram}}" aria-label="{{site.social.instagram}} en Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a></li> 
{% endif %}

{% if site.social.flickr %}
	<li class="list-inline-item"><a href="https://www.flickr.com/photos/{{site.social.flickr}}" aria-label="{{site.social.flickr}} en Flickr"><i class="fab fa-flickr" aria-hidden="true"></i></a></li> 
{% endif %}

{% if site.social.youtube %}
	<li class="list-inline-item"><a href="https://www.youtube.com/user/{{site.social.youtube}}" aria-label="{{site.social.youtube}} en Youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a></li> 
{% endif %}

{% if site.social.googleplus %}
	<li class="list-inline-item"><a href="https://plus.google.com/u/0/+{{site.social.googleplus}}" aria-label="{{site.social.googleplus}} en Google Plus"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li> 
{% endif %}

{% if site.social.pinterest %}
	<li class="list-inline-item"><a href="https://www.pinterest.com/{{site.social.pinterest}}" aria-label="{{site.social.pinterest}} en Pinterest"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
{% endif %}

{% if site.email %}
	<li class="list-inline-item"><a href="mailto:{{ site.email }}" aria-label="envíale una carta a {{ site.email }}"><svg class="svg-inline--fa fa-envelope" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"></path></svg></a></li>
{% endif %}
	<!--li class="list-inline-item"><a href="{{ '/feed.xml' | prepend: site.baseurl }}"><i class="fab fa-rss" aria-hidden="true"></i></a></li-->

	</ul>