  <!-- ******Talleres****** --> 
  <section id="talleres" class="talleres section active">
    <div class="container">
      <div class="talleres-inner">
      <br/><h2 class="title text-center">Talleres</h2>    
      <p>Statetty ofrece talleres prácticos para agentes inmobiliarios, enfocados en mejorar su eficiencia usando tecnologías al alcance de la mano.</p>

      <div class="block"><br/>
        <h3 class="sub-title text-center"><a href="{{'/talleres/automatizacion-de-mensajes/'| prepend: site.url}}" target="_blank">Taller de Automatización de Mensajes para Agentes Inmobiliarios</a></h3>
        <p>Objetivo:</p>
        <p>Proveer herramientas y conocimientos necesarios para automatizar respuestas a clientes, mejorando la eficiencia y efectividad en la comunicación.</p>
        <p>Beneficios:</p>
        <ul class="list-unstyled">
          <li><strong>Disponibilidad 24/7 de forma automatizada</strong></li>
          <li><strong>Eficiencia en respuestas</strong></li>
          <li><strong>Gestión de prospectos</strong></li>
          <li><strong>Uso de inteligencia artificial</strong></li>
          <li><strong>Incremento en ventas</strong></li>
        </ul>
        <p><a href="{{'/talleres/automatizacion-de-mensajes/'| prepend: site.url}}" target="_blank">Más información</a></p>
      </div><!--//block-->

      <div class="block"><br/>
        <h3 class="sub-title text-center"><a href="{{'/talleres/uso-de-statetty/'| prepend: site.url}}" target="_blank">Uso de Statetty, Prácticas Personalizadas</a></h3>
        <p>Objetivo:</p>
        <p>Configurar y adaptar las herramientas de Statetty a las necesidades específicas de los agentes inmobiliarios.</p>
        <p>Beneficios:</p>
        <ul class="list-unstyled">
          <li><strong>Configuración a medida</strong></li>
          <li><strong>Aprendizaje práctico</strong></li>
          <li><strong>Optimización de procesos</strong></li>
          <li><strong>Soporte personalizado</strong></li>
        </ul>
        <p><a href="{{'/talleres/uso-de-statetty/'| prepend: site.url}}" target="_blank">Más información</a></p>
      </div><!--//block-->

      <div class="block"><br/>
        <h3 class="sub-title text-center"><a href="{{'/talleres/taller_ia_re/'| prepend: site.url}}" target="_blank">Inteligencia Artificial & Real Estate</a></h3>
        <p>Objetivo:</p>
        <p>Capacitar a los agentes inmobiliarios en el uso de IA para optimizar respuestas, interacción con prospectos y aumentar la tasa de conversión.</p>
        <p>Beneficios:</p>
        <ul class="list-unstyled">
          <li><strong>Mejora en la calidad de respuestas</strong></li>
          <li><strong>Interacción eficiente</strong></li>
          <li><strong>Aumento de tasa de conversión</strong></li>
          <li><strong>Competitividad</strong></li>
        </ul>
        <p><a href="{{'/talleres/taller_ia_re/'| prepend: site.url}}" target="_blank">Más información</a></p>
      </div><!--//block-->

      <div class="block"><br/>
        <h3 class="sub-title text-center"><a href="{{'/talleres/gestion-de-prospectos/'| prepend: site.url}}" target="_blank">Gestión de Prospectos</a></h3>
        <p>Objetivo:</p>
        <p>Mantener un registro organizado de prospectos y gestionar contactos de manera eficiente, utilizando herramientas como WhatsApp Business, Google Calendar y Google Contacts.</p>
        <p>Beneficios:</p>
        <ul class="list-unstyled">
          <li><strong>Organización eficiente</strong></li>
          <li><strong>Mejora en la gestión de contactos</strong></li>
          <li><strong>Integración de herramientas</strong></li>
          <li><strong>Aumento de productividad</strong></li>
        </ul>
        <p><a href="{{'/talleres/gestion-de-prospectos/'| prepend: site.url}}" target="_blank">Más información</a></p>
      </div><!--//block-->

      </div><!--//talleres-inner-->     
    </div><!--//container-->
  </section>