  <!-- ******tarifas****** --> 
  <section id="tarifas" class="tarifas section active">
    <div class="container">
      <div class="tarifas-inner">
      <br/><h2 class="title text-center">Tarifas</h2>    
      <p>Las siguientes tarifas entrarán en rigor a partir del 1ro de abril de 2025. Todos nuestros clientes anteriores a esa fecha podrán seguir pagando  75Bs. por 30 días, mientras su último pago no supere los 4 meses de antiguedad</p>

      <div class="block"><br/>
        <h3 class="sub-title text-center">Planes de pago Statetty</h3><br/>
        <table>
            <thead>
                <tr>
                    <th>Duración</th>
                    <th>1 Cuenta</th>
                    <th>Paquete de 5 Cuentas</th>
                    <th>Paquete de 10 Cuentas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>30 días</td>
                    <td>99 Bs.</td>
                    <td>297 Bs.</td>
                    <td>455 Bs.</td>
                </tr>
                <tr>
                    <td>90 días</td>
                    <td>223 Bs.</td>
                    <td>817 Bs.</td>
                    <td>1188 Bs.</td>
                </tr>
                <tr>
                    <td>180 días</td>
                    <td>386 Bs.</td>
                    <td>1485 Bs.</td>
                    <td>1782 Bs.</td>
                </tr>
            </tbody>
        </table>
      </div><!--//block-->

      </div><!--//talleres-inner-->     
    </div><!--//container-->
  </section>