<section id="testimonios" class="section testimonios-section">
  <div class="container">
    <h2 class="section-title">Testimonios</h2>
    <p class="section-intro">Esto es lo que opinan algunas personas que usan Statetty y han recibido nuestros talleres.</p>
    <div class="testimonio">
      <div class="testimonio-profile"><img src="/assets/images/realtors/siria_useche01.jpg" alt="Siria Useche" loading="lazy"></div>
      <div class="testimonio-bubble">
        <h3>¡Navego cientos de mensajes en minutos!</h3>
        <p>"Ahora sólo entro a los grupos de WhatsApp para publicar mis peticiones o inmuebles. Cuando alguien escribe algo que me interesa me llega directo como una alarma."</p>
        <p class="info"><a href="https://c21.com.bo/v/asesor/5737-siria-ines-useche-antunez" target="_blank">Siria Useche</a> | Century 21 Nexo</p>
      </div>
    </div>
    <div class="testimonio">
      <div class="testimonio-profile"><img src="/assets/images/realtors/Gabriel_Perez_1x1_01.jpg" alt="Gabriel Pérez" loading="lazy"></div>
      <div class="testimonio-bubble">
        <h3>¡Statetty me devolvió el tiempo para las alianzas estratégicas!</h3>
        <p>"Esto me ha liberado <strong>más de 3 horas diarias</strong> que ahora destino a <strong>cocierres con otros agentes, negociaciones con constructoras y alianzas estratégicas</strong>."</p>
        <p class="info"><a href="https://c21.com.bo/asesor/2903_hector-gabriel-perez" target="_blank">Gabriel Pérez</a> | CENTURY 21 Expansión <i class="fa-solid fa-volume-high" onclick="document.getElementById('audio-gabriel').play()"></i></p>
      </div>
    </div>
    <audio id="audio-gabriel" src="/assets/audio/gabriel_perez_01.mp3" preload="auto"></audio>
  </div>
</section>
