<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include analytics.html %}
    <body>
    {% include headerp.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content | external_link_filter }}
      </div>
    </div>

    {% include footer.html %}
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="/assets/js/user.js"></script>
    <script src="/assets/js/menuUser.js?v=5"></script>
    </body>
</html>