<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include analytics.html %}
    <body>
    {% include headert.html %}
    <div class="page-content">
      <div class="wrap">

        <section id="talleres" class="talleres section active">
          <div class="container">
            <div class="talleres-inner"><br/><br/><br/>

            {{ content | external_link_filter }}

            </div><!--//talleres-inner-->     
          </div><!--//container-->
        </section>

      </div>
    </div>
    {% include disqus.html %}
    {% include footer.html %}
    {% include scriptSend.html %}
    </body>
</html>