<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include analytics.html %}
    <body>
    {% include headert.html %}
    <div class="page-content">
      <div class="wrap">

        <section id="talleres" class="talleres section active">
          <div class="container">
            <div class="talleres-inner"><br/><br/><br/>

            {{ content | external_link_filter }}

            </div><!--//talleres-inner-->     
          </div><!--//container-->
        </section>

      </div>
    </div>
    {% include disqus.html %}
    {% include footer.html %}
    {% include scriptSend.html %}
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="/assets/js/user.js"></script>
    <script src="/assets/js/menuUser.js?v=6"></script>
    </body>
</html>